.MyNumber{
  display: inline-flex;

  input{
      background: none;
      max-width: 40px;
      text-align: center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
}





.Amount__change{
  cursor: pointer;
  width: 30px;
  height: 30px;
  @media (max-width:767.98px){
      width: 20px;
      height: 20px; 
  }
  @media (max-width:500px){
      width: 15px;
      height: 15px; 
  }
  background-color: #e0e3e5;
    color: #161616;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  cursor: not-allowed;
  &.active{
 cursor: pointer;
    &._minus::before, &._plus::before, &._plus::after{
      background: #161616;
    }

  }

  &._minus{
       
    &::before{
        content:'';
        width: 10px;
        height: 1.6px;
        background: #fff;
        border-radius: 10%;
      
    }
    @media (max-width:500px){
        &::before{
            width: 5px;
        }
       
  
    }
  }


  &._plus{
    &::before{
        content:'';
        width: 10px;
        height: 1.6px;
        background: #fff;
        border-radius: 10%;
        @media (max-width:500px){
            width: 10px;
      
        }
    }
    &::after{
        content:'';
        width: 10px;
        height: 1.5px;
        background: #fff;
        transform: rotate(90deg) translate(-1px,5px) ;
        position: absolute;top: 50%;left: 50%;
        border-radius: 10%;
    }
    @media (max-width:500px){
       
        &::before,&::after{
            width: 8px;
            
        }
        &::after{
            content:'';
            transform: rotate(90deg) translate(-1px,4px) ;
        }
      }
    }
}
