@import '../../../../../app/styles/ScssVars.scss';

.main {
  margin-top: 1rem;
  color: var(--color-white);
}

.titleColor {
  color: var(--color-black);
  margin-bottom: 1rem !important;
}

.body {
  display: flex;
  flex-direction: column;
}

.flightInfos {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex: 1 1 auto;
}

.data {
  display: flex;
  gap: 2rem;
  flex: 1 1 auto;

  @media (max-width: $laptop) {
    flex-direction: column;
  }

  @media (max-width: $tablet) {
    align-items: center;
  }
}

.infos {
  display: flex;
  gap: 2rem;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
}

.add {
  @media (max-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.pay {
  @media (max-width: $tablet) {
    display: flex;
    justify-content: center;
  }
}

.info {
  flex: 0 1 450px;

  @media (max-width: $laptop) {
    flex: 0 1 auto;
  }

  &__title {
    color: #000;
    margin-bottom: 1rem;
  }
}
