.body{
    display: flex;
    flex-direction: column;
    flex: 0 1 700px;
}


.cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tripLoader{
    width: 100%;
    height: 150px;
}