

.titleColor{
    color: var(--color-black) !important;
    flex: 0 0 40px;
}
.body{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

.item{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border-radius: 0.75rem;
    box-shadow: 0 1px 3px 0 rgba(37, 32, 31, 0.3019607843);

    &__component{
        display: flex;
       
        align-items: center;
        justify-content: space-between;
    }

    &__company{
      flex: 0 1 200px;
    }
}



