.case{
  cursor: pointer;
 padding: 0 15px;
 height: 72px;
 display: flex;
 padding: 10px;
 background: var(--color-white);
 position:  relative;

 &.active{
   box-shadow: 0px 2px 4px 4px rgba(145, 207, 255, 0.3) inset;
 }

 &.from{
     
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
 }

 &.return{
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
 }


 &__body{
 display: flex;
 gap: 5px;
 align-items: center;
 }

 &__reset{
   cursor: pointer;
   display: flex;
   align-items: center;
   opacity: 0;
   pointer-events: none;
   &_active{
opacity: 1;
pointer-events: visible;
   }
 }

 &__info{
   display: flex;
   width: 100%;
   flex-direction: column;
 }

 &__upText{
     width: 100%;
     color: #626971;
     font-size: .875rem;
     font-weight: 700;
     line-height: 1.25rem;
 }

 &__downText{
     width: 100%;
 }

 &__inputDate{
     width: 100%;
 }
 
}

.inValid{
 border: 1px solid #ff0000;
}