.item{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0 1px 3px 0 #25201f4d;
    max-width: 300px;
    text-align: center;
    border-radius: 12px;
}

.logos{
    display: flex;
    gap: 1rem;
}

.titleColor{
    color: #000;
}