@import '../../../../app/styles/ScssVars.scss';

$mobile: 320px;
$mobileL: 425px;
$tabletS: 525px;
$tablet: 768px;
$laptop: 1024px;
$laptopM: 1124px;
$laptopL: 1440px;

.title {
  color: var(--color-white);
}

.text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;

  @media (max-width: $tablet) {
    font-size: 9px;
    line-height: 12px;
  }
}

.small {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  @media (max-width: $mobileL) {
    font-size: 14px;
    line-height: 16px;
  }
}

.medium {
  font-weight: 500;
  font-size: 23px;
  line-height: 29px;

  @media (max-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: $mobileL) {
    font-size: 18px;
    line-height: 22px;
  }
}

.large {
  font-size: 32px;
  line-height: 43px;
  font-weight: 600;

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
  }
}

.xl {
  font-size: 41px;
  line-height: 49px;
  font-weight: 700;

  @media (max-width: $tablet) {
    font-size: 34px;
    line-height: 40px;
  }
}
